
.container-fluid {
    padding: 0;
    margin: 0;
}
.navbar-css {
    // display: flex;
    // justify-content: space-between;
    padding: 20px 30px;
    background: rgb(33, 47, 61);
    color: white;
}


