.navbar-css {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navbar-brand {
    font-size: 40px;
    color: white;
}
.my-navbar {
    background-color: rgb(33, 47, 61);
}