
<div class="content members">
    <div>
        <div>
            <i class="fa-regular fa-rectangle-xmark" (click)="exitMemebers()"></i>
        </div>
      <div class="heading-bar">
        <div>
          <h2>Members</h2>
        </div>
        <div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control invite" type="text" placeholder="Inviter nouveau membre par mail" name="email" [(ngModel)]="email">
                <button class="btn btn-danger my-2 my-sm-0" type="submit" (click)="inviteMember()">Inviter</button>
              </form>
        </div>
      </div>
      <br>
      
      <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Date cree</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of members; let i = index">
                <td>{{member.memberId}}</td>
                <td>{{member.username}}</td>
                <td>{{member.createdAt }}</td>
                <td>
                    <select class="form-control" [(ngModel)]="member.role">
                        <option value="" disabled selected>Selectionez</option>
                        <option value="ADMINISTRATOR">Administrator</option>
                        <option value="MEMBER">Membre</option>
                        <option value="OBSERVER">Observateur</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="updateRole(member.memberId, member.role)">Attribuer rôle</button>
                </td>
            </tr>
        </tbody>

      </table>
    </div>
  
  
  
  </div>
