
<div class="content members">
    <div>
      <div>
          <i class="fa-regular fa-rectangle-xmark" (click)="exitMemebers()"></i>
      </div>

      <!-- Invite new member -->
      <div class="heading-bar row">
        <div class="col-4">
          <h2>Members</h2>
        </div>

        <input 
          class="col-6" 
          type="text" 
          placeholder="Inviter un nouveau membre par mail" 
          name="email" 
          [(ngModel)]="email" >
        <button class="btn btn-danger col-2"  (click)="inviteMember()">Inviter</button>
      </div>
      <br>
      
      <!-- Members -->
      <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Date cree</th>
            <th scope="col">Role(opter)</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of members; let i = index">
                <td>{{member.memberId}}</td>
                <td>{{member.username}}</td>
                <td>{{member.createdAt }}</td>
                <td>
                    <select class="" [(ngModel)]="member.role">
                        <option value="" disabled selected>Selectionnez</option>
                        <option value="ADMINISTRATOR">Administrator</option>
                        <option value="MEMBER">Membre</option>
                        <option value="OBSERVER">Observateur</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="updateRole(member.memberId, member.role)">Attribuer rôle</button>
                </td>
            </tr>
        </tbody>

      </table>
    </div>
  
  
  
  </div>
